.centered {
    justify-content: center;
    position: fixed;
    bottom: 0%;
    display: flex;
    flex-direction: row;
    margin: 0px auto;
    left: 0;
    right: 0;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    background-color: transparent;
    margin: 0 10% 0% 10%;
    width: 2em;
    height: 2em;
    border-radius: 100%;
    font-size: 2em;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    outline: none;
}

.instructions {
    height: 5%;
    text-align: center;
    top: 5%;
    font-size: 1.25em;
    color: white;
    margin: 0 2% 2%;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.4); 
    z-index: 999999;
}

.map{
    width: 100%;
    height: 90%;
    justify-content: center;
    position: fixed;
    bottom: 10%;
    top: 2%;
    display: flex;
    flex-direction: row;
    margin: 0px auto;
    left: 0;
    right: 0;
}

.map img{
    display: block;
    max-width:100%;
    max-height:100%;
    height:100%;
    margin-left: auto;
    margin-right: auto;
}

.description_txt {
    display: block;
    top: 10%;
    font-size: 1.25em;
    color: white;
    margin: 0% 2% 2%;
    bottom: 10%;
    padding: 2%;
    background-color: rgba(0, 0, 0, 0.4); 
    z-index: 999999;
}

.description_txt img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    width: 50%;
    border-radius: 50%;
}

.progress{
    color: blue;
    width: 90%;
    height: 2%;
    background: gray;
    background-color: rgba(10, 10, 10, 0.9); 
    
    position: fixed;
    border-radius: 10px;
    z-index: 999999;
    top: 0%;
    text-align: center;
    font-size: 1.25em;
    font-weight: bold;
    z-index: 999999;
}

.progress .progress_bar{
    color: white;
    width: 35%;
    background: green;
    border-radius: 10px;
    position: absolute;
    left: 0;
    #background-color: rgba(0, 0, 0, 0.4); 
}
